<launch>
	<node name="sensor_data" pkg="servo" type="ToF_Reading.py" output="screen"/>
		<param name="num_sensors" type="int" value="4" />
		<param name="port" type="string" value="/dev/ttyFeather" />
		<param name="baudrate" type="int" value="115200" />
	<node name="tof_filtering" pkg="servo" type="ToF_Filtering.py" output="screen"/>
		<param name="num_sensors" type="int" value="4" />
		<param name="sensor_readings" type="int" value="64" />
		<param name="filter_history" type="int" value="10" />
	<node name="MovingServos" pkg="servo" type="Servo_Control.py" output="screen"/>
		<param name="num_servos" type="int" value="4" />
		<param name="mode" type="string" value="follow" />
		<param name="target_distance" type="int" value="4" /> 
</launch>
